html, body {
    font-family: sans-serif;

    margin: 0;

    background-color: black;
}

@font-face {
    font-family: 'Babyblocks';
    src: url('/font/ChevyRay - Babyblocks.ttf') format('truetype');
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
